<launch>
  <include file="$(find map_launcher)/launch/map_launcher.launch" />
  <node name="astar_path_viz_node" pkg="path_planner" type="astar_path_viz_node" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find path_planner)/viz/path_viz.rviz" output="screen" />
</launch>
